 

  .menu-item-linksito {
    color: #f6f4ec !important;
    text-decoration: none;
    
    list-style: none;
    
    
    
  }

  .footer-logo-link{
    color: #f6f4ec;
    text-decoration: none;
    list-style: none;
    
    
  }
  .total-footer {
    font-family: 'Montserrat', sans-serif;
     
    
    
  }
  
  
  .footer {
      background-color: #4483ab!important;
      color: #f6f4ec !important;
      border-radius: 10px;
     

      

    
  }
  
 
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 350px;
      position: relative;
      
  }

  /* las columnas */
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      
      padding-left: 12vw;
      padding-right: 15px;
      width: 100%;
      color: #f6f4ec;
      
  }
  
  .footer-content-column ul li a {
    color: #f6f4ec;
    text-decoration: none;
    
  }
  
  .footer-logo-link {
      display: inline-block;
      
  }
  .footer-menu {
      margin-top: 3px;
      list-style: none;
  }
  .footer-menu-no-necesarios {
    
    display: none;
    margin-top: 30px;
    
}
   
  
  .footer-menu-name {

      color: #f6f4ec;
      list-style: none;
      font-size: 15px;
      font-weight: 9pt;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0px;
      margin-top: 15px;
      text-transform: uppercase;
  }



  .footer-menu-list {
      list-style: none;
      margin-bottom: 10;
      margin-top: 10px;
      padding-left: 10;
  }

  /*las cosas del indice*/
  .footer-menu-list li {
    
      margin-top: 5px;
      list-style: none;
      margin: 0px 0px 10px 0px;
      
      
  }
  
  .footer-call-to-action-description {
      color: #f6f4ec;
      margin-top: 10px;
      margin-bottom: 20px;
      
  }
  .footer-call-to-action-button:hover {
      background-color: #92c9e5;
      color:  #f6f4ec;
      
  }
  .button:last-of-type {
      margin-right: 0;
      
  }
  .footer-call-to-action-button {
      background-color: #4daac2;
      border-radius: 21px;
      color: #f6f4ec;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
      
  }
  .footer-call-to-action-title {
      color: #f6f4ec;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
      
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #f6f4ec;
      text-decoration: none;
      
  }
  .footer-call-to-action-link-wrapper a {
      color: #f6f4ec;
      text-decoration: none;
   
  }
  
  
  
  
  /* removi los social icons porque al final no los usamos */
  .footer-social-links {
    display: none;

      bottom: 0;
      height: 0px;
      position: absolute ;
      right: 0;
      width: 236px;
  }
     
  

  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
      
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
      
  }
  
  /*
  
  .footer-social-icon-svg {
      display: block;
  }
  
  .footer-social-icon-path {
      fill: #f6f4ec;
      transition: fill .2s;
  }
  
  .footer-social-link.twitter {
      height: 24px;
      left: 62px;
      top: 12px;
      width: 24px;
  }
  
  .footer-social-link.youtube {
      height: 24px;
      left: 123px;
      top: 12px;
      width: 24px;
  }
  */

  /* la barra de mas de abajo del copyright */
  
  .footer-copyright {
      background-color:  #759cc3;
      color: #f6f4ec;
      padding: 15px 30px;
    text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: #f6f4ec;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: #f6f4ec;
      text-decoration: none;
  }
  
  
  
  
  
  
  
  /* Aca estan cambiando los formatos. Hay varios que se superponen pero igual funciona */
  @media (max-width:320px)   { 
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 30px 1px 600px;
      position: relative;
    }

  }

  @media (min-width:320px) and (max-width:479px)  { 
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 550px;
      position: relative;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { 
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 350px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { 
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 350px;
      position: relative;
    }

  }

 
 
  
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 350px;
        position: relative;
    }
  
    
  
 
  }
  @media (min-width: 568px) {
     .footer-content-column {
        width: 49.99%;
    } 

  }
  @media (max-width: 568px) and (min-width: 320px){

    .footer-content-column {
      width: 100%;
      
  } 

  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 550px;
    position: relative;
}
}

  